body{
    margin-left: 40vw;
}
#brd{
    width: 370px;
    height: 200px;
    border: 3px dotted black;
}
#tmp{
    border: 1px solid gray;
    text-align: center;
    margin: 10px;
    background-color: gray;
}
#fh{
    border: 1px solid black;
    width: 300px;
    height: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: antiquewhite;
}
#cl{
    border: 1px solid black;
    width: 300px;
    height: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: antiquewhite;
}
